{% extends 'base.html' %}

{% block title %} Game {% endblock %}

{% block body %}
    <div class="container">
        <h2>List Element</h2>
        <div class="container">
            <div class="row well">Game ID: {{ id }}</div>
            <div class="row well">Title: {{ title }}</div>
            <div class="row well">Developer: {{ developer }}</div>
            <div class="row">
                <a class = "btn btn-default" href="{% url 'test_app:game_list_view' %}">Back</a>
            </div>
        </div>
    </div>

{% endblock %}
